/* الأمر السحري الجديد للإصدار الرابع */
@import "tailwindcss";

/* استدعاء خط القاهرة */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800;900&display=swap');

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* منع التحديد الأزرق المزعج في الجوال */
    -webkit-tap-highlight-color: transparent;
    font-family: 'Cairo', sans-serif;
  }
}

/* إخفاء شريط التمرير */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}

